<div class="header">
    <h1>Theo dõi số nước</h1>
</div>
<div class="container">
    <div>
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Chỉ số đầu</th>
              <th scope="col">Chỉ số cuối</th>
              <th scope="col">Sản lượng(m3)</th>
              <th scope="col">Thời gian</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody *ngFor="let bill of bills; let i = index">
            <tr>
                <th  class="align-middle" scope="row">{{i}}</th>
                <td class="align-middle">{{bill.old_number}}</td>
                <td class="align-middle">{{bill.new_number}}</td>
                <td class="align-middle">{{bill.new_number - bill.old_number}}</td>
                <td class="align-middle">{{bill.month}} / {{bill.year}}</td>
                <td class="align-middle"><button class="btn btn_secondary" (click)="openEditDialog(bill)">Sửa</button></td>
              </tr>
          </tbody>
        </table>
      </div>
</div>
